* {
	font-family: "Helvetica", sans-serif;
}

#external-styling {
	color: lightblue;
}

h1 {
	font-size: 40px;
}

h2 {
	text-transform: uppercase;
}

.ltbl {
	background-color: #ffe6e6;
}

li[value] {
	border-width: 3px;
	border-style: ridge;
	border-color: #caffde;
}

img + ul {
	list-style-type: upper-roman;
}

section img {
	height: 300px;
	width: 300px;
	border-radius: 120px;
}

h4 ~ p {
	text-align: center;
}

 ul > li {
 	letter-spacing: 3px;
 }