/* ctrl + '/' -- comments in CSS */

/*External CSS Styling*/

/*
CSS Rules

	selector{
		property: value;
	}

	h1 {
		color: yellow;
	}

	h1 {color:  yellow;}
*/

/* ~~~ Universal Selector ~~~ */
/*targets all elements in the HTML*/
/* The '*' symbol is the universal selector */
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

html {
	scroll-behavior: smooth; /* changes the scrolling behavior  */
}

body {
	background-color: skyblue;
}

nav {
	background-color: white;
}

/* selector: hover pseudo class */
/* changes the style when hovered over */

a:hover {
	background-color: #b4d6de; /* a:hover pseudo class will change the style of an element when it is hovered over */
}

div {
	display: inline-block;
	float: right;
}

/* ~~~ Type Selector ~~~ */
/* tag-name */

h1 {
	color: lightgreen !important; 
	text-align: center;
	font-size: 2rem;
}

/* --- Landing Section --- */
section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style: none;
}

/* --- Register Section --- */

form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 200px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}

/* ~~~ ID Selector ~~~ */
/* #id-name */

#zuitt-motto {
	letter-spacing: 5px;
}

/* Specifity Rules
	- ID has the highest styling priority

for reference: 
https://www.w3schools.com/css/css_specificity.asp#:~:text=What%20is%20Specificity%3F,applied%20to%20that%20HTML%20element.
 */
/*
h3 {
	letter-spacing: 25px;
}
*/

/* ~~~ Adjacent Sibline Selector ~~~ */
/* selector + selector */

/*h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}*/

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/* ~~~ Class Selector ~~~ */
/* .class-name */

.offering-item {
	text-transform: uppercase;
}

/* ~~~ Descendant Selector ~~~ */
#bootcamp-learning-list li {
	color: #075966;
}

/* ~~~ General Sibling Selector ~~~ */
/* selector ~ selector */

h2 ~ a {
	text-decoration: none;
}

/* ~~~ Child Selector ~~~ */
/* selector > selector */

body > section > form > label {
	color: rgb(0, 0, 128);
}

/* ~~~ Attribute Selector ~~~ */
/* tagName[attribute] */

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: lightblue;
}